%h2 Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control"
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "current-password", class: "form-control"
  .form-group
    = f.submit "Log in", class: "btn btn-primary"
= render "users/shared/links"
