= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.label :username
    = f.text_field :username, class: "form-control"
  .form-group
    = f.label :password
    = f.password_field :password,  class: "form-control"
  .form-group
    = f.submit t(:sign_in), class: "btn btn-primary btn-sm"
= render "users/shared/links"
