%h2 New Article

= form_with(model: @article, class: "form-horizontal") do |f|
  #errors
  .form-group
    = f.label :content
    = f.text_area :content, maxlength: "140", class: "form-control"
  .form-group
    = f.submit "Regist", class: "btn btn-primary btn-sm"
    = link_to "Back", root_path, class:"btn btn-secondary btn-sm"