%h5 
  = t(:create_article)
= form_with(model: @article, class: "form-horizontal") do |f|
  #errors
  .form-group
    = f.label :content
    = f.text_area :content, maxlength: "140", class: "form-control"
  .form-group
    = f.submit t(:regist), class: "btn btn-primary btn-sm"
    = link_to t(:back), root_path, class:"btn btn-secondary btn-sm"