%div{:class => "container"}
  %h1{:class => "display-4"}New Article
  = form_with model: @article do |form|
    %div{:class => "form-group"}
      = form.label :content
      = form.text_area :content, maxlength: "140", class: "form-control"
      - @article.errors.full_messages_for(:content).each do | message |
        = message
    = form.submit "Regist", class: "btn btn-primary btn-sm"
    %input{:type => "button", 
                :class => "btn btn-secondary btn-sm", 
                :onclick => "location.href='/articles'", 
                :value => "Return" }