%h1.mt-3.mb-3= @user.username
.row
  .col-8
    .card.mb-2
      %h5.card-header Profile
      .card-body
        %p.card-text= @user.profile
    .card.mb-2
      %h5.card-header Blog Url
      .card-body
        = link_to @user.blog_url, class: "card-link"
  .col-4
    - if user_signed_in? && current_user != @user
      - unless current_user.following.include?(@user)
        = form_with(model: current_user.active_relationships.build, method: :post) do |f|
          = hidden_field_tag :followed_id, @user.id
          = f.submit "フォローする", class: "btn btn-primary btn-sm"        
      - else
        = form_with(model: current_user.active_relationships.find_by(followed_id: @user.id), method: :delete) do |f|
          = f.submit "フォロー解除", class: "btn btn-primary btn-sm"