- @posts.each do |post|
  .row
    .col.text-primary
      %i.far.fa-comment-dots
      = link_to "#{l post.created_at, format: :short}", post_path(id: post.id)
      %i.fas.fa-heart
      = post.liked_users.size
      - if user_signed_in? && current_user == post.user
        = post.user.username
      - else
        = link_to post.user.username, user_path(id: post.user.id)
  .row
    .col.ms-5.border-start.border-primary.text-break
      = simple_format(h(post.content), {}, wrapper_tag: "div")
      = link_to image_tag(post.image.thumb.url, class: "rounded"), post.image.url, target: "_blank" if post.image? 