- @posts.each do |post|
  .row
    .col.text-monospace
      %i.far.fa-comment-dots{style: "color:Dodgerblue"}
      = link_to "#{l post.created_at, format: :short}", post_path(id: post.id)
      %i.bi.bi-heart-fill{style: "color:Dodgerblue"}
      = post.liked_users.count
      - if user_signed_in? && current_user == post.user
        = post.user.username
      - else
        = link_to post.user.username, user_path(id: post.user.id)
  .row
    .col.ml-5.border-left.border-primary.text-break.text-monospace
      = simple_format(h(post.content), {}, wrapper_tag: "div")