.row
  .col-8
    .card.mb-2
      .card-header{ style: "background-color: #e3f2fd;" }
        = t(:created_at)
      .card-body
        %p.card-text= l @post.created_at, format: :short
    .card.mb-2
      .card-header{ style: "background-color: #e3f2fd;" }
        = Post.human_attribute_name(:content)
      .card-body
        = simple_format(h(@post.content), {}, wrapper_tag: "div")
    .card.mb-2
      .card-header{ style: "background-color: #e3f2fd;" }
        = User.human_attribute_name(:username)
      .card-body
        = simple_format(h(@post.user.username), {}, wrapper_tag: "div")
  .col-4
    .card.mb-2
      .card-header{ style: "background-color: #e3f2fd;" }
        .row
          .col-6{ style: "top: 3px;" }
            = t(:like_user)
          .col-4
            - if user_signed_in? && current_user != @post.user
              - unless current_user.liked_posts.include?(@post)
                = form_with(model: current_user.likes.build) do |f|
                  = hidden_field_tag :post_id, @post.id
                  = f.button class: "btn btn-primary btn-sm" do
                    %i.bi.bi-heart-fill= " #{t(:like)}"
                    %span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-info
                      = @post.liked_users.count
              - else
                = form_with(model: current_user.likes.find_by(post_id: @post.id), method: :delete) do |f|
                  = f.button class: "btn btn-secondary btn-sm" do
                    %i.bi.bi-heart-fill= " #{t(:like)}"
                    %span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-info
                      = @post.liked_users.count
      .card-body
        %ul.list-group.list-group-flush
          - @post.liked_users.each do |user|
            %li.list-group-item= link_to user.username, user_path(id: user.id)
.row
  .col-8
    .card.mb-2
      .card-header{ style: "background-color: #e3f2fd;" }
        コメント
      .card-body
        = form_with(model: current_user.comments.build, local: false, class: "form-horizontal") do |f|
          #errors
          .row
            .col-4
              .form-group
                = f.hidden_field :post_id, value: @post.id
                = f.text_area :content, class: "form-control"
            .col-2.px-0.align-self-end
              .form-group
                = f.submit t(:regist), class: "btn btn-primary btn-sm"
          .row
            .col-8
              - @post.comments.each do |comment|
                %table.table.table-sm
                  %tr
                    %td{style: "width: 60%"}= simple_format(h(comment.content), {}, wrapper_tag: "div")
                    %td{style: "width: 20%"}= comment.user.username
                    %td{style: "width: 20%"}= link_to t(:delete), comment_path(comment), method: :delete