= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "users/shared/error_messages", resource: resource
  .form-group
    = f.label :username
    = f.text_field :username, class: "form-control"
  .form-group
    = f.label :password
    = "(#{t(:edit_password2_message)})"
    - if @minimum_password_length
      %em
        = "(#{t(:password_message, minimum_password_length: @minimum_password_length)})"
    = f.password_field :password, class: "form-control"
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: "form-control"
  .form-group
    = f.label :profile
    = f.text_area :profile, class: "form-control", row: 10
  .form-group
    = f.label :blog_url
    = f.text_field :blog_url, class: "form-control"
  .form-group
    = f.label :current_password
    = "(#{t(:edit_password_message)})"
    = f.password_field :current_password, class: "form-control"
  .form-group
    = f.submit t(:update), class: "btn btn-primary btn-sm"
    = link_to t(:back), root_path, class:"btn btn-secondary btn-sm"
    = link_to t(:retirement), registration_path(:user), data: { confirm: t(:delete_user_message) }, method: :delete, class:"btn btn-danger btn-sm"         
