= form_for(resource, as: resource_name, url: new_user_registration_path) do |f|
  = render "users/shared/error_messages", resource: resource
  .form-group
    = f.label :username
    = f.text_field :username, class: "form-control"
  .form-group
    = f.label :password
    = f.password_field :password, class: "form-control"
    .form-text.small
      - if @minimum_password_length
        = "(#{t("users.registrations.password_length_message", minimum_password_length: @minimum_password_length)})"
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: "form-control"
  .form-group
    = f.label :email
    = f.text_field :email, class: "form-control"
  .form-group
    = f.label :profile
    = f.text_area :profile, class: "form-control", row: 10
  .form-group
    = f.label :blog_url
    = f.text_field :blog_url, class: "form-control"
  .form-group
    = f.submit t(:sign_up), class: "btn btn-primary btn-sm"
= render "users/shared/links"
